* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;

}
.container {
    width: 1312px;
    margin: 0 auto;
}
.header {
    margin-top: 16px;
    padding: 16px 24px;
    border-radius: 32px;
    border: 1px solid rgba(38, 37, 34, 0.24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    margin-bottom: 16px;
    .logo {
        display: flex;
        align-items: center;
        img {
            margin-right: 2.5px;
        }
        span{
            width: 50px;
            height: 30px;
            color: rgba(38, 37, 34, 1);
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

    }
    nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        gap: 30px;

        a {
            text-decoration: none;
            color: rgba(38, 37, 34, 1);
            position: relative;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0;
                height: 2px;
                background-color: red;
                transition: width 0.3s;
            }

            &:hover::after, &.active::after {
                width: 100%;
            }
        }
    }
    .actions {
        display: flex;
        align-items: center;
        gap: 10px;

        .search-icon {
            padding: 8px ;
            border-radius: 16px;
            border-bottom: 1px;
            font-size: 18px;
            cursor: pointer;
            background: rgba(38, 37, 34, 0.08);
        }

        .subscribe-button {
            padding: 12px 24px ;
            border-radius: 24px;
            background: rgba(38, 37, 34, 1);
            color: white;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
        }
    }
}
.first_section {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5) url('../media/images/img.png') no-repeat center center;
    width: 1312px;
    height: 577px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .hero-content{
        color: white;
        font-family: Montserrat, serif;
        border-radius: 10px;

        font-size: 21px;
        font-weight: 400;
        p{
            margin-top: 12px;
            width: 427px;
            height: 87px;
            margin-bottom: 40px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

        }

        h1{
            width: 869px;
            height: 160px;
            font-size: 80px;
            font-weight: 800;
            line-height: 80px;
        }

    }
    .explore-button {
        margin-top: 40px;
        color: rgba(38, 37, 34, 1);
        padding: 12px 24px;
        gap: 10px;
        border-radius: 24px;
        background: rgba(242, 156, 51, 1);
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    .explore-button:hover {
        background-color: white;
    }
}
.second_section {
    margin-top: 16px;
    background: rgba(196, 229, 252, 1);
    padding: 40px;
    border-radius: 32px;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        .text-content {
            color: white;
            font-family: Roboto, serif;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-right: 238px;

            .explore-button{
               color: white;
               padding: 4px 8px ;
               border-radius: 12px;
               background: rgba(238, 99, 82, 1);
               border: none;
               font-size: 14px;
               font-weight: 500;
               line-height: 16px;
               text-underline-position: from-font;
               text-decoration-skip-ink: none;



           }
            h2{
                margin-top: 16px;
                width: 494px;
                height: 80px;
                font-size: 40px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.01em;
                color: rgba(38, 37, 34, 1);
                margin-bottom: 12px;

            }
            p{
                margin-top: 12px;
                font-size: 16px;
                font-weight: 300;
                line-height: 22.4px;
                letter-spacing: 0.01em;
                color: rgba(38, 37, 34, 0.8);


            }
            .see-more-button{
                margin-top: 40px;
                color: rgba(38, 37, 34, 1);
                padding: 12px 24px ;
                border-radius: 24px;


                border:1px black solid;
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;
            }

        }
        .menu{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            hr{

            }
            .menu-item {
                margin-top: 16px;
                margin-bottom: 16px;
                display: flex;
                align-items: center;
            }
            .menu-item img {
                font-size: 30px;
                color: #333;
                margin-right: 319px;
            }

            .menu-item span {
                font-size: 16px;
                font-weight: 600;
            }

        }
    }

}
.journey-menu {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
}


.journey-menu h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.journey-menu p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 40px;
    margin-top: 12px;
}


.journey-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;
}

.journey-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #333;
    background: #f1f1f1;
    border: 2px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.journey-buttons button:hover {
    background:greenyellow;
    color: #fff;
    border-color: greenyellow;
}


.journey-buttons button.active {
    background: white;
    color: #fff;
    border-color: white;
}


.j-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-bottom: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}


.j-cards div {
    background: whitesmoke;

    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.j-cards div:hover {
    transform: translateY(-5px);
}


.j-cards div img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}


.j-cards div .card-content {
    padding: 20px;
    text-align: left;
    color: black;
}

.j-cards div h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.j-cards div p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.hour {
    font-size: 10px !important;
    margin-bottom: -31px!important;
    margin-right: 50px !important;
}



.j-cards div button {
    margin-left: 167px;
    margin-bottom: 16px;
    width:132px;
    height: 38px;
    padding: 10px;
    font-size: 1rem;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.j-cards div button:hover {
    background: wheat;
}
footer {
    background-color: #222; /* Цвет фона футера */
    color: #fff; /* Цвет текста */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px 10px 0 0;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
    }
    .footer-logo {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 30px;
        }
    }
    .footer-links {
        display: flex;
        gap: 20px;

        a {
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
        }
    }
    .social-icons {
        display: flex;
        gap: 10px;

    }
    hr{
        margin-top: 34px;
        width: 100%;
    }
    .copyright {
        margin-top: 10px;
        text-align: center;
        color: rgba(240, 235, 225, 0.6);
        font-size: 12px;
        font-weight: 500;
        line-height: 14.4px;
    }
}

.recipe-container {
    width: 1312px;
    margin: 0 auto;
    background-color: #fdfbf8;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .first{
        width:93px ;
        height: 34px;
        padding: 8px 16px ;
        border-radius: 16px ;
        background: rgba(238, 99, 82, 1);
        text-align: center;
        margin: 0 auto;
        margin-bottom: 12px;
        h5{
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
            color: rgba(255, 251, 242, 1);
            text-align: center;
            text-transform: uppercase;
        }
    }
    .recipe-header {
        text-align: center;
        margin-bottom: 20px;

        h1 {
            font-family: Montserrat, serif;
            font-size: 80px;
            font-weight: 800;
            line-height: 80px;
            letter-spacing: -0.01em;
            text-align: center;
            color: rgba(38, 37, 34, 1);
            text-transform: uppercase;
        }
    }
    .recipe-image {
        text-align: center;
        img {
        width: 1232px;
        height: 640px;
        object-fit: cover;
        border-radius: 24px;
    }}
    .recipe_instructions p{
        margin-top: 16px;
        width: 560px;
        font-size: 16px;
        font-weight: 300;
        line-height: 22.4px;
        letter-spacing: 0.01em;
        color: rgba(51, 51, 51, 0.8);
    ;

    }


    .recipe-main {
        align-items: center;
        margin-top: 40px;
        margin-left: 111px;
        display: flex;
        gap: 56px;
        .recipe-content{
            h2{
                font-size: 40px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.01em;
                color:rgba(51, 51, 51, 1);
            }
            .recipe-video iframe{
                margin-top: 40px;
                width: 645px;
                height: 480px;
                border-radius: 24px ;
                border: 1px;
            }
        }
        .recipe-details{
            .ingredients {
                width: 428px;
                border-radius: 24px ;
                border: 1px ;
                background: rgba(255, 251, 242, 1);
                margin-bottom: 16px;
                padding: 16px;
                border: 1px solid rgba(38, 37, 34, 0.24);

                h3{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 18px;
                    letter-spacing: 0.02em;
                    color: rgba(238, 99, 82, 1);
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
                li{
                    margin: 16px;
                    font-size: 21px;
                    font-weight: 400;
                    color: rgba(38, 37, 34, 1);
                }
            }
            .measures{
                width: 428px;
                border-radius: 24px ;
                border: 1px ;
                background: rgba(255, 251, 242, 1);
                margin-bottom: 16px;
                padding: 16px;
                border: 1px solid rgba(38, 37, 34, 0.24);

                h3{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 18px;
                    letter-spacing: 0.02em;
                    color: rgba(238, 99, 82, 1);
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                }
                li{
                    margin: 16px;
                    font-size: 21px;
                    font-weight: 400;
                    color: rgba(38, 37, 34, 1);
                }
            }
        }


    }
}